@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat, sans-serif;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height: 60px;
    padding-inline: 50px;
}

.logo{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    padding: 5px;
}

.header-links{
    display: flex;
    gap: 20px;
    padding: 5px;
}

.main-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-inline: 50px;
    background-color: #1f2937;
    padding-block: 25px;
}

#heading-main{
    font-size: 42px;
    font-weight: 800;
    color: #f9faf8;
    line-height: 90%;
}

#text-main{
    font-size: 18px;
    color: #f9faf8;
    padding-block: 12px;
}

#cta-main{
    background-color: #3382f6;
    color: #f9faf8;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 0px;
    padding-inline: 20px;
    padding-block: 5px;
}

#image1{
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.second-block{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-block: 25px;
    gap: 32px;
}

#heading-2{
    font-size: 36px;
    font-weight: 900;
}

.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.block{
    max-width: 150px;
    text-align: center;
}

.carousel-img{
    width: 150px;
    height: 150px;
    border-radius: 10px;;
}